.person-profile-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}
@media all and (max-width: 450px) {
    .person-profile-wrap {
        flex-direction: column-reverse;
    }
    .image-placeholder {
        margin-bottom: 12px;
    }
}
.person-texts-wrap {
    position: relative;
    width: calc(100% - 128px);
}
.person-name {
    font-size: 24px;
    margin: 0px 0px 4px;
    font-weight: bold;
    font-style: italic;
}
.person-titles {
    margin: 0px 0px 16px;
    font-size: 15px;
    font-weight: 500;
}
.person-description {
    margin: 0px;
    font-size: 15px;
}
.image-placeholder {
    height: 150px;
    width: 100px;
    border: 1px solid black;
}