.contacts-page-wrap {
    min-height: calc(100vh - 102px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}
.cp-section {
    position: relative;
    width: 600px;
    max-width: 100%;
    padding: 0px 24px;
    box-sizing: border-box;
}
.g-map-wrap {
    height: 350px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}
.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-info-text {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cp-logo-wrap {
    transform: scale(0.8);
    width: 330px;
    position: relative;
    text-align: right;
    height: 192px;
    margin-right: -32px;
}